section#tool-list {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 0 30px;
}
section#tool-list .add-button {
  color: #fff;
}

section#tool-list ul.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: "100%";
  max-width: 850px;
  background-color: #fff;
}

section#tool-list ul hr {
  background-color: #dddddd;
  width: 100%;
}

section#tool-list ul li .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section#tool-list ul li .header button {
  margin-bottom: 14px;
}

section#tool-list ul li .header .clear-icon {
  margin-right: 8px;
}

section#tool-list ul li .header button .title {
  font-size: 2em;
}

section#tool-list ul li p .description span {
  display: block;
}

section#tool-list ul li p .description .tags {
  color: #3f51b5;
  display: inline-block;
  margin-right: 10px;
}
